// Palettes

$color-white: #FFFFFF;
$color-black: #000000;
$color-black-coal: #050505;

// Based on web-2.0 Colour Palette
$color-white-shinny: #EEEEEE;
$color-white-magnolia: #F9F7ED;
$color-gray-shadows: #36393D;
$color-yellow-interactive: #FFFF88;
$color-red-mozilla: #FF1A00;
$color-red-crimson: #D01F3C;
$color-red-rollyo: #CC0000;
$color-red-ruby: #B02B2C;
$color-orange-rss: #FF7400;
$color-orange-vermillion: #D15600;
$color-yellow-gold: #C79810;
$color-green-olive: #73880A;
$color-green-newsvine: #006E2E;
$color-green-techcrunch: #008C00;
$color-green-basecamp: #6BBA70;
$color-green-mint: #CDEB8B;
$color-blue-mozilla: #3F4C6B;
$color-blue-digg: #356AA0;
$color-blue-gmail: #C3D9FF;
$color-blue-flock: #4096EE;
$color-pink-flickr: #FF0084;

// Based on SASS Palette - https://sass-lang.com/styleguide/color
$color-pink-sass-hopbush: #c69;
$color-pink-sass-bouquet: #b37399;
$color-violet-sass-venus: #998099;
$color-turquoise-sass-patina: #699;
$color-turquoise-sass-nebula: #d2e1dd;
$color-pink-sass-dawn: #f2ece4;
$color-pink-sass-wafer: #e1d7d2;
$color-gray-sass-iron: #dadbdf;
$color-gray-sass-regent: #808c99;
$color-gray-sass-pale-sky: #6b717f;
$color-blue-sass-midnight: #036;
