@mixin flexCols($wrap: false) {
  @include flex($wrap);
  flex-direction: row;
}

@mixin flexRows($wrap: false) {
  @include flex($wrap);
  flex-direction: column;
}

@mixin flex($wrap: false) {
  display: flex;
  @if $wrap {
    flex-wrap: wrap;
  }
}


$media-breakpoint-rules: (
                (0, 15px, null),
                (480, 30px, null),
                (768, 60px, null),
                (1024, 0, 1000px)
) !default;

@mixin mediaDown($size) {
  @media (max-width: #{$size - 1px}) {
    @content
  }
}

@mixin mediaUp($size) {
  @media (min-width: #{$size}px) {
    @content
  }
}

@mixin mediaWrapper() {
  margin: 0 auto;
  @each $media-rule in $media-breakpoint-rules {
    $breakpoint: nth($media-rule, 1);
    $padding: nth($media-rule, 2);
    $max-width: nth($media-rule, 3);
    @if $padding or $max-width {
      @include mediaUp($breakpoint) {
        @if $max-width {
          max-width: $max-width;
        }
        @if $padding {
          padding-left: $padding;
          padding-right: $padding;
        }
      }
    }
  }
}
