// Palettes

$color-white: #FFFFFF;
$color-black: #000000;

// Based on web-2.0 Colour Palette
$color-white-shinny: #EEEEEE;
$color-white-magnolia: #F9F7ED;
$color-gray-shadows: #36393D;
$color-yellow-interactive: #FFFF88;
$color-red-mozilla: #FF1A00;
$color-red-crimson: #D01F3C;
$color-red-rollyo: #CC0000;
$color-red-ruby: #B02B2C;
$color-orange-rss: #FF7400;
$color-orange-vermillion: #D15600;
$color-yellow-gold: #C79810;
$color-green-olive: #73880A;
$color-green-newsvine: #006E2E;
$color-green-techcrunch: #008C00;
$color-green-basecamp: #6BBA70;
$color-green-mint: #CDEB8B;
$color-blue-mozilla: #3F4C6B;
$color-blue-digg: #356AA0;
$color-blue-gmail: #C3D9FF;
$color-blue-flock: #4096EE;
$color-pink-flickr: #FF0084;
